html, body {
  background: #B22222;
  padding: 20px;
  font-family: Arial, sans-serif;
}

main {
  background: white;
  padding: 10px;
}

h1 {
  color:  #696969;
}

input {
  border-radius: 4px;
}

button {
  background: #696969;
  color: #FFF;
  border-radius: 4px;
}