@import url('whitespace-reset.css');

html, body {
  background: #EEE9CE;
  padding: 20px 10px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

input, label {
  display: inline-block;
  margin: 0 5px;
}

dl {
  padding: 5px 0;
}

dd {
  padding: 5px;
}

.msg {
  display: none;
  padding: 10px 5px;
}

.correct {
  border: 1px solid #008000;
}

.incorrect {
  border: 1px solid #FF0000;
}
