table {
  background-color: cyan;
  border-collapse: collapse;
}

/*td {
  background-color: orange;
  margin: 0;
}*/

tbody tr:nth-child(odd) {
  background-color: orange;
}

tbody tr:nth-child(even) {
  background-color: yellow;
}

/*tbody tr:nth-child(2) {
  background-color: yellow;
}*/