@import url('whitespace-reset.css');

html, body {
  background: #52BE43;
  font-size: 20px;
}

main {
  background: #52BE43;
  width: 800px;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 32px;
  padding: 10px 0;
}

form {
  background: #fff;
  padding: 20px 10px;
  border-radius: 5px;
}

.error_message {
  display: none;
  color: #A93333;
}

.invalid {
  border-color: #A93333;
}

dl {
  position: relative;
  margin: 10px 5px;
}

dd {
  display: inline-block;
  margin-right: 20px;
}

input {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
}

input[name='credit_card'] {
  width: 45px;
}

button {
  background: #52BE43;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

footer {
  display: none;
}

footer h2 {
  color: #fff;
  font-size: 26px;
  padding: 10px 0;  
}
